@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none;}
li {list-style: none;}
h1, h2, h3, span, a, p, button {font-family: 'Roboto', sans-serif;}

body {background-color: #000;}

/*Seção de Informações Principais*/

.informacoes-principais {
    margin-top: 24px;
}

.informacoes-principais-1 {
    border-radius: 16px 16px 0px 0px;
    width: 780px;
    height: 230px;
    background: url(img/imagem-de-capa.png);
}

.foto-perfil {margin: 118px 596px 190px 24px;}

.informacoes-principais-2 {
    border-radius: 0px 0px 16px 16px;
    width: 780px;
    height: 238px;
    background-color: #1B2226;
}

.container-texto {padding: 56px 400px 30px 24px;}

.linha-de-informacao {display: flex; align-items: center; gap: 6px; display: block; margin-bottom: 5px;}

.parte-horizontal-informacoes {
    display: flex;
    justify-content: space-between;
    width: 669px
}

.lado-direito {display: flex; flex-direction: column; gap: 8px;}
.bloco-relacoes {display: flex; align-items: center; gap: 8px;}

/*Estilização de texto (Seção de Informações Principais)*/
h1 {color: rgba(255, 255, 255, 0.90); font-size: 24px; font-weight: 500;}
.funcao {color: rgba(255, 255, 255, 0.90); font-size: 16px; font-weight: 500;}
.descricao, .local {color: rgba(255, 255, 255, 0.60); font-size: 14px; font-weight: 400;}
.funcao {display: block; margin-bottom: 7px;}
.descricao {display: block; margin-bottom: 7px;}
.link-info {color: #70B5F9; font-size: 14px; font-weight: 700;}
.link-conexoes {color: #70B5F9; font-size: 14px; font-weight: 500;}

.botao-mensagem {background-color: #70B5F9; border-radius: 16px; padding: 6px 29px; border-style: none; color: rgba(0, 0, 0, 0.75); font-size: 14px; font-weight: 500; cursor: pointer; margin-right: 3px;}
.botao-mais {background-color: rgba(255, 255, 255, 0.00); border-style: none; border-radius: 16px; border: 1px solid #70B5F9; padding: 6px 48px; color: #70B5F9; font-size: 14px; font-weight: 500; cursor: pointer;}

.relacoes {color: rgba(255, 255, 255, 0.90); font-size: 16px; font-weight: 500;}

/*Menu de Navegação*/

header {
    background-color: #1B2226; 
    display: flex;
    width: 1440px; 
    height: 52px; 
    align-items: center; 
    margin: 0 auto;
}

header > img {margin-left: 153px; margin-right: 8px;}

.search-box {
    display: flex; 
    align-items: center; 
    background-color: #38434F; 
    width: 280px; 
    height: 34px; 
    border-radius: 4px;
}

header > .search-box > input {background-color: #38434F; border: none; width: 280px; height: 30px; outline: none;}
header > .search-box > img {width: 24px; height: 24px; margin: 5px 8px;}

.navegacao {
    display: flex; 
    margin-left: 92px;
}

.navegacao > a {display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;}
.navegacao > a > img {width: 24px; height: 24px;}
.navegacao > a > span {width: 80px; height: 14px;}

header hr {color: rgba(255, 255, 255, 0.60); height: 52px; margin: 0 4px;}

/*Estilização de texto (Menu de Navegação)*/
#pesquisar::placeholder {color: rgba(255, 255, 255, 0.90); font-size: 14px; font-weight: 400;}
.navegacao > a > span {color: rgba(255, 255, 255, 0.90); font-size: 12px; font-weight: 400;}

/*Publicações em Destaque*/

.destaques {
    width: 780px;
    height: 312px;
    background-color: #1B2226;
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 14px;
}

.publicacoes {
    display: flex;
    gap: 17px;
    width: 748px;
    margin: 8px 0 22px 16px;
}

.publicacao {
    border: 1px solid rgba(255, 255, 255, 0.60);
    border-radius: 8px;
    width: 238px;
    height: 236px;
    align-items: center;
}

.item-publicacao {margin-top: 12px; margin-bottom: 4px;}
.publicacao > img {width: 236px; height: 152px; object-fit: cover;}

.reacoes {
    margin: 0 auto;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reacoes-esquerda {width: 57px; display: flex; justify-content: space-between; align-items: center;}

/*Estilização de texto (Publicações em Destaque)*/
.titulo-card {color: rgba(255, 255, 255, 0.90); font-size: 20px; font-weight: 600; padding-top: 16px; padding-left: 24px;}

.item-publicacao > span {color: rgba(255, 255, 255, 0.60); font-size: 12px; font-weight: 400; padding-top: 12px; padding-left: 14px;}
.item-publicacao > p {color: rgba(255, 255, 255, 0.90); font-size: 14px; font-weight: 400; margin: 4px auto 6px 14px;}
.reacoes, .reacoes-esquerda > span {color: rgba(255, 255, 255, 0.60); font-size: 12px; font-weight: 400;}

/*Atividades Recentes*/

.atividades-recentes {
    width: 780px;
    height: 365px;
    background-color: #1B2226;
    border-radius: 16px;
    margin-bottom: 8px;
}

.atividade {
    height: 122px;
    width: 734px;
    margin: 6px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
}

/*atividade*/ .baixo {border: none; margin-bottom: 2px;}

.imagem-e-texto {
    display: flex;
    margin: 8px 0;
    gap: 8px;
    align-items: center;
}

.imagem-e-texto > img {width: 64px; height: 64px;}

/*.reacoes*/ .atividades {width: 734px;}

/*Estilização de texto (Atividades Recentes)*/
.atividades-recentes > span {color: #70B5F9; font-size: 14px; font-weight: 500; margin-left: 24px; margin-top: 4px; margin-bottom: 16px; display: block;}
.titulo-atividade {color: rgba(255, 255, 255, 0.60); font-size: 14px; font-weight: 400; display: flex; align-items: center; gap: 4px; margin-bottom: 10px;}
.imagem-e-texto > p {color: #FFF; font-size: 14px; font-weight: 400; line-height: 20px;}
.atividades-recentes > a {color: rgba(255, 255, 255, 0.60); font-size: 14px; font-weight: 500; text-align: center; display: block; padding: 8px 0 8px 0; border-top: 1px solid rgba(255, 255, 255, 0.60); cursor: pointer;}

/*Sobre*/

.sobre {
    width: 780px;
    height: 134px;
    background-color: #1B2226;
    border-radius: 16px;
    margin-bottom: 8px;
}

/*Estilização de texto (Sobre)*/
.sobre > p {color: #FFF; font-size: 14px; font-weight: 400; text-align: justify; width: 732px; margin-left: 24px; margin-top: 10px; line-height: 20px;}

/*Experiências*/

.experiencias {
    background-color: #1B2226;
    width: 780px;
    height: 358px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.experiencias-conteudo {
    padding: 16px 24px;
}

.empresa {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.cargo {
    display: flex;
    gap: 28px;
    margin-bottom: 8px;
}

.cargo-detalhes {
    display: flex;
    flex-direction: column;
}

.cargos {
    margin-left: 20px;
}


/*Estilização de texto (Experiências)*/
.empresa-direita > h3, .cargo-detalhes > h3 {color: rgba(255, 255, 255, 0.90); font-size: 16px; font-weight: 600;}
.cargo-descricao {color: rgba(255, 255, 255, 0.60); font-size: 14px; font-weight: 400;}
.periodo {color: rgba(255, 255, 255, 0.90); font-size: 14px; font-weight: 400;}

/*Formação Acadêmica*/

.formacao-academica {
    background-color: #1B2226;
    width: 780px;
    height: 127px;
    border-radius: 16px;
    margin-bottom: 8px;
    
}

.formacao-academica-conteudo {
    padding: 16px 24px;
    display: flex;
    gap: 9px;
}

.formacao-academica-conteudo > img {width: 48px; height: 48px;}

.formacad-conteudo-direita {
    display: flex;
    flex-direction: column;
}

/*Estilização de texto (Formação Acadêmica)*/
.formacad-conteudo-direita > h3 {color: rgba(255, 255, 255, 0.90); font-size: 16px; font-weight: 600; line-height: 20px;}
.nome-do-curso {color: rgba(255, 255, 255, 0.90); font-size: 14px; font-weight: 400;}
.data-curso {color: rgba(255, 255, 255, 0.60); font-size: 14px; font-weight: 400;}

/*Idiomas*/

.idiomas {
    background-color: #1B2226;
    width: 780px;
    height: 178px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.idiomas-conteudo {
    padding: 8px 24px;
}

.idiomas-conteudo > hr {color: rgba(255, 255, 255, 0.60); width: 700px; margin-top: 12px; margin-bottom: 12px;}

/*Estilização de texto (Idiomas)*/
.idiomas-conteudo > h3 {color: #FFF; font-size: 16px; font-weight: 600; line-height: 25px;}
.idiomas-conteudo > span {color: rgba(255, 255, 255, 0.60); font-size: 14px; font-weight: 400;}

/*Seções de Sugestão de Perfis*/

.tambem-viram, .talvez-conheca {
    width: 320px;
    height: 546px;
    background-color: #1B2226;
    margin-bottom: 8px;
    border-radius: 16px;
    
}

.sugestao {
    width: 284px;
    height: 83px;
    display: flex;
    gap: 6px;
    margin: 0 auto 16px auto;
}

.sugestao > img {width: 48px; height: 48px; border-radius: 24px;}

.sugestao > div > button {
    width: 154px;
    height: 28px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.90);
    margin-top: 8px;
    background-color: transparent;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
}

.talvez-conheca > .sugestao > div > button {
    width: 99px;
    height: 28px;
}

.sugestao > div {
    display: flex;
    flex-direction: column;
}

/*Estilização de texto (Seções de Sugestão de Perfis)*/
.titulo-cards-direita {font-family: Inter, sans-serif; color: rgba(255, 255, 255, 0.90); font-size: 16px; font-weight: 700; padding-top: 16px; padding-left: 16px; margin-bottom: 16px;}
.sugestao > div > h3 {font-family: Inter, sans-serif; color: #FFF; font-size: 14px; font-weight: 700;}
.sugestao > div > p {font-family: Inter, sans-serif; color: rgba(255, 255, 255, 0.60); font-size: 12px; font-weight: 400;}
